.Navbar_container {
  background-color: var(--color-primary);
  height: 74px;
  width: 100%;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
